<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allsmart.fieldtracker"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.allsmart.fieldtracker.activity.MyApplication"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.allsmart.fieldtracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name="com.allsmart.fieldtracker.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.allsmart.fieldtracker.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>

        
        <receiver android:name="com.allsmart.fieldtracker.broadcasters.NetworkBroadcaster">
            <intent-filter>
   <!--             <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />    -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.allsmart.fieldtracker.broadcasters.GeofenceBroadcaster"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.allsmart.fieldtracker.ACTION_GEOFENCE_RECEIVER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.allsmart.fieldtracker.service.UploadTransactions"/>
        <activity
            android:name="com.allsmart.fieldtracker.activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCON7HyyWtOQa8xrvgT2bfLS4nQWUwh9MA" />

            <!--<service
                android:name="com.allsmart.fieldtracker.service.GeolocationService"
                android:icon="@drawable/ic_launcher"
                android:label="@string/app_name" >
            </service>-->
        <service
            android:name="com.allsmart.fieldtracker.service.GeofenceReceiver"
            android:exported="false"
            android:enabled="true">
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b9b3d36301f3599cd5a1a05642ae5689c558a52d" />
    </application>

</manifest>